<p>
  Largest table cells: <strong>{{ getHighest() }}</strong>
</p>

<table>
  <tr>
    <td>First</td>
    <td>row</td>
  </tr>
  <tr>
    <td>and</td>
    <td>second</td>
    <td>row</td>
  </tr>
  <tr>
    <td>and</td>
    <td>the</td>
    <td>third</td>
    <td>one</td>
  </tr>
</table>

<table>
  <tr>
    <td>Not</td>
    <td>so</td>
  </tr>
  <tr>
    <td>many</td>
    <td>cells</td>
  </tr>
</table>

<table>
  <tr>
    <th>hello</th>
    <th>world</th>
  </tr>
  <tr>
    <td>Not</td>
    <td>so</td>
  </tr>
  <tr>
    <td>many</td>
    <td>cells</td>
  </tr>
  <tr>
    <td>many</td>
    <td>cells</td>
  </tr>
  <tr>
    <td>many</td>
    <td>cells</td>
  </tr>
  <tr>
    <td>many</td>
    <td>cells</td>
  </tr>
</table>
